@font-face {
  font-family:'Helvetica';
  src: url('../fonts/HelveticaRegular.woff') format('woff'),
  url('../fonts/HelveticaRegular.eot') format('eot');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family:'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

