@import 'vars';
@import 'fonts';
@import 'global';
//START OF STYLES
@import 'header';

//==========Start of welcome sectuon style==========
.welcome{
  text-align: center;

  &__text{
    max-width: 424px;
    text-align: left;
    margin-right: 72px;
    @include robo;
    font-size: 30px;
    padding-top: 20px;
  }

  &__inner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 8px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 58px;
  }
  &__wrapper{
    display: flex;
    margin-top: 77px;
    justify-content: space-between;
    min-width: 100%;

    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 163px;
    }
  }

  .item__icon{
    background-color: $violet;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    
    .welcome__item-icon{
      margin: auto;
    }
  }


  .item__title{
    color: $violet;
    text-transform: uppercase;
    max-width: 120px;
    padding: 34px 0 28px 0;
    @include monbold;
    font-size: 14px;
  }

  .item__text{
    color: #040405;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 35px;
  }
}
//==========End of welcome sectuon style==========



//==========Start of Projects sectuon style==========
.projects{
  text-align: center;

  &__wrapper{
    display: flex;
    flex-wrap: nowrap;
  }
  &__item{
    max-width: 25%;
  }
}
//==========End of Projects sectuon style==========

//END OF STYLES
@import 'media';